In [112]:
import pandas as pd

In [113]:
df = pd.read_csv(r"C:\Users\Utilizador\OneDrive\Documentos\NovaIms\MachineLearning\Project_data\test.csv")
train = pd.read_csv(r"C:\Users\Utilizador\OneDrive\Documentos\NovaIms\MachineLearning\Project_data\train.csv")

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32567 entries, 0 to 32566
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   carID           32567 non-null  int64
 1   Brand           31918 non-null  object
 2   model           31917 non-null  object
 3   year            31914 non-null  float64
 4   transmission    31944 non-null  object
 5   mileage         31878 non-null  float64
 6   fuelType        31911 non-null  object
 7   tax             29259 non-null  float64
 8   mpg             29279 non-null  float64
 9   engineSize      31939 non-null  float64
 10  paintQuality%   31942 non-null  float64
 11  previousOwners  31970 non-null  float64
 12  hasDamage       31970 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 3.2+ MB

In [115]:
df.isna().sum()

carID                0
Brand              649
model              650
year               653
transmission       623
mileage            689
fuelType           656
tax               3308
mpg               3288
engineSize         628
paintQuality%      625
previousOwners     597
hasDamage          597
dtype: int64

## Data Preparation

In [116]:
#ver fuzzy matching

### carID

In [117]:
df_concat = pd.concat([df, train], ignore_index=True)

duplicates = df_concat.duplicated().any()
print(duplicates)

df_concat[df_concat.duplicated(['carID'])]

False

Empty DataFrame
Columns: [carID, Brand, model, year, transmission, mileage, fuelType, tax, mpg, engineSize, paintQuality%, previousOwners, hasDamage, price]
Index: []

<b>An attribute that contains an identifier for each car.
* The carID variable is 100% distinct across all records, hence we can use it as an index.

In [118]:
df = df.set_index(["carID"])
train = train.set_index(["carID"])

### Brand

In [119]:
print(df["Brand"].unique())

['Hyundai' 'VW' 'BMW' 'Opel' 'Ford' 'Mercedes' 'Skoda' 'Toyot' 'Toyota'
 'Audi' nan 'For' 'Ope' 'toyota' 'vw' 'hyundai' 'MW' 'SKODA' 'ord' 'udi'
 'bmw' 'V' 'BM' 'HYUNDAI' 'OPEL' 'mercedes' 'audi' 'Mercede' 'pel' 'opel'
 'FORD' 'yundai' 'ford' 'Aud' 'oyota' 'MERCEDES' 'ercedes' 'AUDI' 'koda'
 'Hyunda' 'W' 'skoda' 'Skod' 'ercede' 'TOYOTA' 'ERCEDES' 'kod' 'ORD' 'v'
 'ud' 'M' 'FOR' 'for' 'MERCEDE' 'YUNDAI' 'PEL' 'ope' 'or' 'TOYOT' 'hyunda'
 'oyot' 'UDI' 'mw' 'pe' 'bm']

In [120]:
df["Brand"] = df["Brand"].str.lower()
df["Brand"] = df["Brand"].str.strip()

In [121]:
brand_map = {
    "bmw": "BMW", "bm": "BMW", "mw": "BMW",
    "mercedes": "Mercedes", "mercede": "Mercedes", "mercede": "Mercedes", "ercedes": "Mercedes", "ercede": "Mercedes",
    "toyota": "Toyota", "toyo": "Toyota", "toyot": "Toyota", "oyota": "Toyota" ,"oyot": "Toyota" ,
    "hyundai": "Hyundai", "hyunda": "Hyundai", "yundai": "Hyundai",
    "skoda": "Skoda", "skod": "Skoda", "kod": "Skoda", "koda": "Skoda",
    "opel": "Opel", "ope": "Opel", "pel": "Opel", "pe": "Opel",
    "ford": "Ford", "for": "Ford", "ord": "Ford",
    "audi": "Audi", "udi": "Audi", "aud": "Audi", 
    "vw": "Volkswagen"
}

df["Brand"] = df["Brand"].map(lambda x: brand_map.get(x, x))

In [122]:
print(df["Brand"].unique())
#da para inferir algumas marcas com base nos modelos

['Hyundai' 'Volkswagen' 'BMW' 'Opel' 'Ford' 'Mercedes' 'Skoda' 'Toyota'
 'Audi' nan 'v' 'w' 'ud' 'm' 'or']

### Model

In [123]:
print(df["model"].value_counts())

model
 Focus        2721
 C Class      2037
 Fiesta       1813
 Golf         1317
 Corsa         942
              ...
YARIS            1
 I3              1
yaris            1
Combo Life       1
 GOLF SV         1
Name: count, Length: 593, dtype: int64

In [124]:
df["model"] = df["model"].str.lower()
df["model"] = df["model"].str.strip()

In [125]:
df["model"].unique()

array(['i30', 'tiguan', '2 series', 'grandland x', '1 series', 'fiesta',
       'x1', 'b class', 'focus', 'superb', '5 series', 'c class', 'up',
       'aygo', 'golf', 'm clas', 'land cruiser', 'tt', 'adam', 'zafira',
       'e class', '3 series', 'ix20', 'a4', 'yaris', 'passat', 'i10',
       'mokka x', 'ecosport', '4 series', 'a7', 'corsa', 'kuga',
       'grand c-max', 'q2', 'm4', 'a class', 'rav4', 'fabia', 'insignia',
       'a1', 'x6', 'meriva', 'caravelle', 'octavia', 'auris', 'x-class',
       'astra', 'v class', 'polo', 'karoq', 'shuttle', 'mokka', 'q5',
       'tucson', 'a3', 'sl class', 'corolla', 'ka+', 'x3', 'i40', 'i20',
       'kamiq', nan, 'ix35', 'crossland x', 'q3', 'viva', 'gla class',
       'astr', 'cls class', 'ka', 'focu', 'galaxy', 'x2', 'kodiaq',
       'glc class', 'vivaro', 'mondeo', 'touran', 'cl class', 'x5',
       'verso', 'touareg', 't-roc', 'fiest', 'q', 'a5', 's class',
       'c clas', 'scirocco', 'x7', 'b-max', '8 series', 'a6', 'santa fe',
       'gl class', 'gle class', 'beetle', 'x4', 'pol', 'golf sv',
       'octavi', 'sharan', 'gol', 'c-max', 'm6', 'a8', 'cla class',
       'kona', 'citigo', 'prius', 'rapid', 'fusion', '3 serie', 'g clas',
       'slk', 'yeti outdoor', 'q7', 'c-hr', 'm5', 't-cross', 'avensis',
       'ioniq', 'amarok', 'viv', 'z4', 'california', 'm2', 'm3', 'arteon',
       '1 serie', 'scala', 'hilux', 'puma', 'gtc', 'fabi',
       'zafira tourer', 's-max', 'super', 'edge', 'cc', 'rs3', 'x',
       'auri', 'tiguan allspace', 'rs4', 'combo life', 'caddy maxi life',
       'tourneo custom', 'mustang', 'yari', '7 series', 'yeti', '2 serie',
       'zafir', 'arteo', 'veloster', 'mokk', 'u', 'a', 'i800', 'rav',
       'tiguan allspac', 'b-ma', 'monde', 'm class', '4 serie', 's-ma',
       'grandland', 'fox', 'glb class', 'kug', '6 series', 'iq', 'r8',
       'tucso', 'gt86', 'cors', 'agila', 'gls class', 'rs5', 'ecospor',
       'cl clas', 'e clas', 'grand tourneo connect', 't-ro', 'antara',
       'x-clas', 'i2', '180', 'supra', 'sq5', 'ayg', 'yeti outdoo',
       'glc clas', 'citig', 'q8', 'tourneo custo', 'sq7', 'toura', 'i8',
       'tourneo connect', 'coroll', 'i3', 'hilu', 'g class', '6 serie',
       'kon', 'a clas', 'caddy life', 'jetta', 'passa', 'r class',
       'b clas', 'edg', 'insigni', 's3', '5 serie', 'gla clas',
       'caravell', 'amica', 'crossland', 't', 'rs6', 'tigua',
       'proace verso', 'camry', 'sl clas', 'tigra', 'c-h', 'eos', 'm',
       'combo lif', 'roomster', 'santa f', 'clk', 'californi', 'meriv',
       'ampera', 'i1', 'kodia', 'c-ma', 's5', 'clc class', 'galax', 'ada',
       'shara', 'grand tourneo connec', 'rs7', 'scirocc',
       'transit tourneo', 's clas', 'vectra', 'golf s', 'caddy', 'i4',
       'cla clas', 'grand c-ma', 'gl clas', 'pum', 'z3', 'sl', 'gls clas',
       's4', 'terracan', 'rapi', 'k', 'camr', 'cascada'], dtype=object)

### year

In [126]:
df["year"].unique()

array([2022.87800554, 2017.        , 2016.        , 2019.        ,
       2018.        , 2011.        , 2015.        ,           nan,
       2023.26798867, 2014.        , 2020.        , 2013.        ,
       2010.        , 2024.12175905, 2008.        , 2012.        ,
       2010.56500919, 2010.37154646, 2011.21085349, 2009.        ,
       2022.69668507, 2007.        , 2023.38982198, 2023.97731126,
       2023.36707842, 2004.        , 2010.26863473, 2010.67696784,
       2023.1169636 , 2002.        , 2023.60527574, 2012.69574039,
       2006.        , 2000.        , 2003.        , 1997.        ,
       2011.11118842, 2009.81675711, 2010.7464032 , 2001.        ,
       1999.        , 1998.        , 2005.        , 1991.        ,
       1996.        ])

In [127]:
#por agora nulos ficom com 9999
df["year"] = df["year"].fillna(9999)

# Ficar só com a parte inteira e converter para int
df["year"] = df["year"].astype(float).astype(int)

print(df["year"].unique())
print(df.dtypes)

[2022 2017 2016 2019 2018 2011 2015 9999 2023 2014 2020 2013 2010 2024
 2008 2012 2009 2007 2004 2002 2006 2000 2003 1997 2001 1999 1998 2005
 1991 1996]
Brand              object
model              object
year                int64
transmission       object
mileage           float64
fuelType           object
tax               float64
mpg               float64
engineSize        float64
paintQuality%     float64
previousOwners    float64
hasDamage         float64
dtype: object

### transmission

In [128]:
df["transmission"].unique()

array(['Automatic', 'Semi-Auto', 'Manual', 'unknow', 'Manua', 'automatic',
       nan, 'semi-auto', 'MANUAL', 'Semi-Aut', 'unknown', 'emi-Auto',
       'utomatic', 'SEMI-AUTO', 'anual', 'Automati', 'manual',
       'AUTOMATIC', ' Manual ', ' Manual', 'UNKNOWN', 'anua', 'AUTOMATI',
       'nknown', 'MANUA', 'Other', ' MANUAL ', 'manual ', 'manua',
       'UTOMATIC', 'automati', 'utomati', 'ANUAL', 'emi-auto', 'EMI-AUTO',
       'SEMI-AUT', 'Manual ', ' manual ', 'emi-Aut'], dtype=object)

In [129]:
df["transmission"] = df["transmission"].str.lower().str.strip()
df["transmission"].unique()

array(['automatic', 'semi-auto', 'manual', 'unknow', 'manua', nan,
       'semi-aut', 'unknown', 'emi-auto', 'utomatic', 'anual', 'automati',
       'anua', 'nknown', 'other', 'utomati', 'emi-aut'], dtype=object)

In [130]:
df["transmission"] = df["transmission"].str.lower().str.strip()

# Criar mapeamento só para marcas que já vi no teu print
trans_map = {
    "automatic": "Automatic", "utomatic": "Automatic", "automati": "Automatic","utomati": "Automatic",
    "semi-auto": "Semi-Auto", "semi-aut": "Semi-Auto","emi-auto": "Semi-Auto", "emi-aut": "Semi-Auto",
    "manual": "Manual", "manua": "Manual","anual": "Manual", "anua": "Manual",
    "unknow": "Unknown", "unknown": "Unknown", "nknown": "Unknown",
    "other": "Other"
}

# Substituir se existir no dicionário
df["transmission"] = df["transmission"].map(lambda x: trans_map.get(x, x))

# Ver marcas únicas já limpas
print(df["transmission"].unique())

['Automatic' 'Semi-Auto' 'Manual' 'Unknown' nan 'Other']

### mileage

In [131]:
df["mileage"].unique()
#tem de ser numero e tem de ser poitivo

array([ 30700.        , -48190.65567291,  36792.        , ...,
        27575.        ,   8297.        ,  11071.        ])

### fuelType

In [132]:
df["fuelType"].unique()

array(['petrol', 'Petrol', 'Diesel', 'Diese', 'Hybrid', 'iesel', 'Petro',
       'hybrid', 'etrol', 'DIESEL', nan, 'PETROL', 'diesel', 'Other',
       'iese', 'diese', 'etro', 'petro', 'HYBRID', 'Hybri', 'ther',
       'ETROL', 'ybrid', 'IESEL', 'DIESE', 'PETRO', 'hybri', 'other',
       'Othe', 'Electric'], dtype=object)

In [133]:
# Normalizar (minúsculas + remover espaços)
df["fuelType"] = df["fuelType"].str.lower().str.strip()

# Mapeamento só com o que foi encontrado
fuel_map = {
    # Petrol
    "petrol": "Petrol", "petro": "Petrol", "etro": "Petrol","etrol": "Petrol",
    
    # Diesel
    "diesel": "Diesel", "diese": "Diesel", "iesel": "Diesel","iese": "Diesel",
    
    # Hybrid
    "hybrid": "Hybrid", "hybri": "Hybrid","ybrid": "Hybrid",
    
    # Electric
    "electric": "Electric",
    
    # Other
    "other": "Other", "othe": "Other", "ther": "Other"
}

# Aplicar mapeamento
df["fuelType"] = df["fuelType"].map(lambda x: fuel_map.get(x, x))

# Substituir NaN por "Unknown"
df["fuelType"] = df["fuelType"].fillna("Unknown")

# Ver categorias finais
print(df["fuelType"].unique())

['Petrol' 'Diesel' 'Hybrid' 'Unknown' 'Other' 'Electric']

### tax

### mpg

### engineSize

### paintQuality%

In [134]:
df["paintQuality%"].unique()
#decidir o que fazer com os superior a 100. 1) truncar para 100. 2) apagar e preencher com a mediana 3)apagar e knn

array([ 61.        ,  60.        ,  94.        ,  77.        ,
        45.        ,  64.        ,  50.        ,  71.        ,
        99.        ,  73.        ,  78.        ,  40.        ,
        35.        ,  76.        ,  53.        ,  90.        ,
                nan,  42.        ,  70.        ,  75.        ,
        79.        ,  98.        ,  62.        ,  88.        ,
        59.        ,  97.        ,  85.        ,  89.        ,
        92.        ,  63.        ,  36.        ,  56.        ,
        54.        ,  52.        ,  66.        ,  80.        ,
        91.        ,  31.        ,  37.        ,  67.        ,
        30.        ,  84.        ,  69.        ,  55.        ,
        57.        ,  48.        ,  44.        ,  39.        ,
        82.        ,  34.        ,  33.        , 125.10995148,
         3.20741784,  65.        ,  86.        ,  74.        ,
       125.00377307,  87.        ,  72.        ,  93.        ,
        46.        ,  38.        ,  47.        ,  49.        ,
        83.        ,  96.        ,  51.        ,  32.        ,
        81.        ,  43.        ,  95.        ,  41.        ,
        68.        ,  58.        ,   3.17268306,   1.76947364,
         3.22574362, 125.30194543, 125.5694986 ,   3.1152953 ,
         3.25476013,   3.14037046, 125.59430832, 125.36650692,
         2.72515272, 125.18872876,   1.63891309, 125.20203342,
       125.4535988 ])

### previousOwners

In [135]:
df["previousOwners"].unique()

array([ 3.        ,  2.        ,  1.        ,  4.        ,  0.        ,
               nan, -2.34565   ,  6.25823052,  6.23017958,  6.25837066,
       -2.29943868,  6.21772443, -2.33512284,  6.2482512 ,  6.23308217,
       -2.33744529,  6.24583495,  6.24177863, -2.33936045, -2.31225953,
       -2.34030622, -2.31733109, -2.34010209,  6.22789796])

In [136]:
# Substituir NaN por 9999 (ou outro valor que prefiras, ex: 0)
df["previousOwners"] = df["previousOwners"].fillna(9999)

# Converter para inteiro
df["previousOwners"] = df["previousOwners"].astype(float).astype(int)

# Tornar valores negativos em positivos
df["previousOwners"] = df["previousOwners"].abs()

print(df["previousOwners"].unique())
print(df.dtypes)

[   3    2    1    4    0 9999    6]
Brand              object
model              object
year                int64
transmission       object
mileage           float64
fuelType           object
tax               float64
mpg               float64
engineSize        float64
paintQuality%     float64
previousOwners      int64
hasDamage         float64
dtype: object

### hasDamage

In [137]:
df["hasDamage"].unique()
#para apagar a variavel que nao tem nada de jeito

array([ 0., nan])

In [138]:
train["hasDamage"].unique()

array([ 0., nan])

In [ ]:
# fazer exploração da media

In [142]:
train_0 = train[train["hasDamage"]== 0]
train_nan = train[~(train["hasDamage"] == 0)]

In [145]:
train_0["price"].median()

14698.0

In [146]:
train_nan["price"].median()

14798.0

In [ ]:
#como nao houve diferença na media então tiramos a variavel